#title {
    background-color: #eac054;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

h3 {
    font-family: 'Arial Narrow Bold', sans-serif; 
    font-weight: bold;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: white;
    font-size: 1.5;
    font-weight: bold;
}

p {
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: 'Times New Roman', serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
}

.title-image{
   width: 80%;
    position: relative;
    padding-bottom: 5%;
}


#about {
    padding: 7% 15%;
    background-color: white;
    z-index: 1;
    position: relative;
}

.about-box{
    test-align: center;
    padding: 5%;
}

.icon{
    color:#eac054;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #47B5FF;
}


#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #df9b47;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 10px;
}

#press{
    background-color:#47B5FF;
    text-align: center;
}

.presslogo{
    width: 10%;
    margin: 20px 20px 50px;
}

#pricing{
    padding:100px;
}

.pricing-header {
    color: #000;
}

.pricing-column{
    padding: 3% 2%;
    text-align: center;
}

#cta {
    background-color: #47B5FF;
    color: white;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Times New Roman'sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon{
    margin: 20px 10px;
}

h1{
    background: rgb(255, 255, 255);
    background-size: cover;
    font-family: 'Times New Roman', sans-serif; 
  }
  .container{
    display: inline-block;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid rgb(255, 254, 254);
    white-space: nowrap;
    animation: 
      typing 2s forwards;
      font-family: 'Times New Roman', sans-serif; 
      font-size: 1.6rem;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  

@media (max-width: 1028px){

    #title {
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(0);
    }
}